In [3]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data=pd.read_csv("C:/Users/Administrator/Downloads/Python_files_material/Excelr assignments/Hypothesis Assignment/BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
#H0: There is no association between the gender based buyer rations across regions
#H1: There is a significant association between the gender based buyer rations across regions

In [15]:
table = [[50,142,131,70],
        [435,1523,1356,750]]

In [16]:
stats.chi2_contingency(table)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [17]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [18]:
statistics, p_value = stats.chisquare(observed, expected, ddof = 3)

In [19]:
p_value

0.8095206646905712

In [ ]:
# Since p is > 0.05, we failed to reject H0