In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv("C:/Users/Administrator/Downloads/Python_files_material/Excelr assignments/Neural Networks/gas_turbines.csv")

In [2]:
data.head()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311

In [3]:
data.describe()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,15039.000000,15039.00000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000,15039.000000
mean,17.764381,1013.19924,79.124174,4.200294,25.419061,1083.798770,545.396183,134.188464,12.102353,1.972499,68.190934
std,7.574323,6.41076,13.793439,0.760197,4.173916,16.527806,7.866803,15.829717,1.103196,2.222206,10.470586
min,0.522300,985.85000,30.344000,2.087400,17.878000,1000.800000,512.450000,100.170000,9.904400,0.000388,27.765000
25%,11.408000,1008.90000,69.750000,3.723900,23.294000,1079.600000,542.170000,127.985000,11.622000,0.858055,61.303500
50%,18.186000,1012.80000,82.266000,4.186200,25.082000,1088.700000,549.890000,133.780000,12.025000,1.390200,66.601000
75%,23.862500,1016.90000,90.043500,4.550900,27.184000,1096.000000,550.060000,140.895000,12.578000,2.160400,73.935500
max,34.929000,1034.20000,100.200000,7.610600,37.402000,1100.800000,550.610000,174.610000,15.081000,44.103000,119.890000

In [4]:
data['TEY'].value_counts()
len(data['TEY'].unique())
data.isnull().sum()
data.info

<bound method DataFrame.info of            AT      AP      AH    AFDP    GTEP     TIT     TAT     TEY     CDP  \
0      6.8594  1007.9  96.799  3.5000  19.663  1059.2  550.00  114.70  10.605
1      6.7850  1008.4  97.118  3.4998  19.728  1059.3  550.00  114.72  10.598
2      6.8977  1008.8  95.939  3.4824  19.779  1059.4  549.87  114.71  10.601
3      7.0569  1009.2  95.249  3.4805  19.792  1059.6  549.99  114.72  10.606
4      7.3978  1009.7  95.150  3.4976  19.765  1059.7  549.98  114.72  10.612
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
15034  9.0301  1005.6  98.460  3.5421  19.164  1049.7  546.21  111.61  10.400
15035  7.8879  1005.9  99.093  3.5059  19.414  1046.3  543.22  111.78  10.433
15036  7.2647  1006.3  99.496  3.4770  19.530  1037.7  537.32  110.19  10.483
15037  7.0060  1006.8  99.008  3.4486  19.377  1043.2  541.24  110.74  10.533
15038  6.9279  1007.2  97.533  3.4275  19.306  1049.9  545.85  111.58  10.583

           CO     NOX
0      3.1547  82.722
1      3.2363  82.776
2      3.2012  82.468
3      3.1923  82.670
4      3.2484  82.311
...       ...     ...
15034  4.5186  79.559
15035  4.8470  79.917
15036  7.9632  90.912
15037  6.2494  93.227
15038  4.9816  92.498

[15039 rows x 11 columns]>

In [5]:
data['TEY'].value_counts()
len(data['TEY'].unique())

4207

In [6]:
data.isnull().sum()

AT      0
AP      0
AH      0
AFDP    0
GTEP    0
TIT     0
TAT     0
TEY     0
CDP     0
CO      0
NOX     0
dtype: int64

In [7]:
data.corr()

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
AT,1.000000,-0.412953,-0.549432,-0.099333,-0.049103,0.093067,0.338569,-0.207495,-0.100705,-0.088588,-0.600006
AP,-0.412953,1.000000,0.042573,0.040318,0.078575,0.029650,-0.223479,0.146939,0.131198,0.041614,0.256744
AH,-0.549432,0.042573,1.000000,-0.119249,-0.202784,-0.247781,0.010859,-0.110272,-0.182010,0.165505,0.143061
AFDP,-0.099333,0.040318,-0.119249,1.000000,0.744251,0.627254,-0.571541,0.717995,0.727152,-0.334207,-0.037299
GTEP,-0.049103,0.078575,-0.202784,0.744251,1.000000,0.874526,-0.756884,0.977042,0.993784,-0.508259,-0.208496
TIT,0.093067,0.029650,-0.247781,0.627254,0.874526,1.000000,-0.357320,0.891587,0.887238,-0.688272,-0.231636
TAT,0.338569,-0.223479,0.010859,-0.571541,-0.756884,-0.357320,1.000000,-0.720356,-0.744740,0.063404,0.009888
TEY,-0.207495,0.146939,-0.110272,0.717995,0.977042,0.891587,-0.720356,1.000000,0.988473,-0.541751,-0.102631
CDP,-0.100705,0.131198,-0.182010,0.727152,0.993784,0.887238,-0.744740,0.988473,1.000000,-0.520783,-0.169103
CO,-0.088588,0.041614,0.165505,-0.334207,-0.508259,-0.688272,0.063404,-0.541751,-0.520783,1.000000,0.316743
NOX,-0.600006,0.256744,0.143061,-0.037299,-0.208496,-0.231636,0.009888,-0.102631,-0.169103,0.316743,1.000000

In [8]:
features = data.columns.tolist()
features.remove('TEY')
features

['AT', 'AP', 'AH', 'AFDP', 'GTEP', 'TIT', 'TAT', 'CDP', 'CO', 'NOX']

In [9]:
X=data.drop(columns =['TEY'])
y=data['TEY']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size =0.3,random_state =42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((10527, 10), (4512, 10), (10527,), (4512,))

In [10]:
n_features =X.shape[1]
n_features

10

In [11]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from numpy.random import seed
import tensorflow

from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import RMSprop
import tensorflow
import tensorflow as tf
from tensorflow import keras
optmizer =RMSprop(0.03)#0.01 is a learning rate
model=keras.Sequential([
    keras.layers.Dense(10,input_dim =(n_features),activation='relu'),
    keras.layers.Dense(8,activation ='relu')
])
model.compile(optimizer =optmizer,loss= 'mean_squared_error',metrics=['accuracy'])
seed_value =42;
import random
tensorflow.random.set_seed(seed_value)
model.fit(X_train, y_train, epochs=5, batch_size=30, verbose = 1)

Epoch 1/5
351/351 [==============================] - 1s 515us/step - loss: 5904.8623 - accuracy: 0.0000e+00
Epoch 2/5
351/351 [==============================] - 0s 491us/step - loss: 2805.2927 - accuracy: 0.0000e+00
Epoch 3/5
351/351 [==============================] - 0s 477us/step - loss: 2664.4116 - accuracy: 0.0000e+00
Epoch 4/5
351/351 [==============================] - 0s 491us/step - loss: 2638.1912 - accuracy: 0.0000e+00
Epoch 5/5
351/351 [==============================] - 0s 536us/step - loss: 2621.0715 - accuracy: 0.0000e+00

In [12]:
model.evaluate(X_test,y_test)

141/141 [==============================] - 0s 529us/step - loss: 2504.6238 - accuracy: 0.0000e+00

[2504.623779296875, 0.0]

In [13]:
optmizer =RMSprop(0.5)#0.01 is a learning rate
model=keras.Sequential([
    keras.layers.Dense(10,input_dim =(n_features),activation='relu'),
    keras.layers.Dense(8,activation ='relu')
])
model.compile(optimizer =optmizer,loss= 'mean_squared_error',metrics=['accuracy'])

In [14]:
seed_value =42;
import random
tensorflow.random.set_seed(seed_value)
model.fit(X_train, y_train, epochs=10, batch_size=10, verbose = 1)

Epoch 1/10
1053/1053 [==============================] - 1s 501us/step - loss: 253311.9219 - accuracy: 0.0000e+00
Epoch 2/10
1053/1053 [==============================] - 1s 509us/step - loss: 11520.0176 - accuracy: 0.0000e+00
Epoch 3/10
1053/1053 [==============================] - 1s 508us/step - loss: 11520.0771 - accuracy: 0.0000e+00
Epoch 4/10
1053/1053 [==============================] - 1s 501us/step - loss: 11520.0586 - accuracy: 0.0000e+00
Epoch 5/10
1053/1053 [==============================] - 1s 500us/step - loss: 11520.0088 - accuracy: 0.0000e+00
Epoch 6/10
1053/1053 [==============================] - 1s 496us/step - loss: 11520.0986 - accuracy: 0.0000e+00
Epoch 7/10
1053/1053 [==============================] - 1s 497us/step - loss: 11519.8643 - accuracy: 0.0000e+00
Epoch 8/10
1053/1053 [==============================] - 1s 490us/step - loss: 11520.1074 - accuracy: 0.0000e+00
Epoch 9/10
1053/1053 [==============================] - 1s 503us/step - loss: 11520.0488 - accuracy: 0.0000e+00
Epoch 10/10
1053/1053 [==============================] - 1s 496us/step - loss: 11520.0488 - accuracy: 0.0000e+00

In [15]:
model.evaluate(X_test,y_test)

141/141 [==============================] - 0s 500us/step - loss: 11469.8857 - accuracy: 0.0000e+00

[11469.8857421875, 0.0]